<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Courses Registration</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/fa.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<h1>Courses Registration</h1>


<form class="form-group" action="#" th:action="@{/register}" method="POST" th:object="${course}">
    <label class="form-label">Course name:</label>
    <input class="form-control input-sm text-input" type="text" th:field="*{name}"/>

    <label class="form-label">Details:</label>
    <input class="form-control input-sm text-input" type="text" th:field="*{details}"/>

    <label class="form-label">Duration (hrs):</label>
    <input class="form-control input-sm text-input" type="number" th:field="*{name}"/>
    <br/>
    <button class="btn btn-primary mb-3" type="submit">Register</button>
</form>


</body>
</html>