<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="master">
<body>
<main layout:fragment="contenido">
  <div class="col-12">
    <h2>Agregar Curso</h2>
    <!--<div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje != null}"
         th:text="${mensaje}"
         class="alert">
    </div>-->
    <form th:object="${course}" th:action="#" method="post">
      <div class="form-group">
        <label for="nombre">Nombre Curso</label>
        <input autocomplete="off" autofocus th:field="*{nombre}" id="nombre"
               placeholder="Escribe el nombre del curso" type="text"
               class="form-control" th:classappend="${#fields.hasErrors('nombre')} ? 'is-invalid' : ''">
        <div class="invalid-feedback" th:errors="*{nombre}"></div>
      </div>
      <br/>
      <button class="btn btn-success" type="submit">Guardar</button>
      &nbsp;<a class="btn btn-warning" th:href="#">Ver todos</a>
    </form>
  </div>
</main>
</body>
</html>